<%- include('../partials/header') -%>

<h1><%= cuisine.toUpperCase() %></h1>
    <% if (cuisine === 'american') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'indian') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'chinese') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'italian') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'mexican') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'german') { %>
        <div>
            <% foodCategories.forEach(c => { %>
                <div>
                    <h3><%= c.cat %></h3>
                    <img src="<%= c.image %>">
                </div>
            <% }) %>
        </div>
    <% } else if (cuisine === 'mediterranean') { %>
    <div>
        <% foodCategories.forEach(c => { %>
            <div>
                <h3><%= c.cat %></h3>
                <img src="<%= c.image %>">
            </div>
        <% }) %>
    </div>
    <% }; %>
    
<%- include('../partials/footer') -%>