<%- include('../partials/nav') -%>
<div class="singleItemBody">
  <h1 class="singleItemTitle"><%= foodItem.meals[0].strMeal %></h1>

  <% foodItem.meals.forEach(function(meal) { %>

  <img
    class="singleItemPic"
    src="<%= meal.strMealThumb %>"
    alt="Food Picture"
  />
  <br /><br />

  <% }); %>

  <p class="singleItemDeets">
    <% for (let i = 1; i <= 20; i++) { %> <% if
    (foodItem.meals[0][`strIngredient${i}`]) { %> <%=
    foodItem.meals[0][`strIngredient${i}`].charAt(0).toUpperCase() +
    foodItem.meals[0][`strIngredient${i}`].slice(1) %><% if (i < 20 &&
    foodItem.meals[0][`strIngredient${i + 1}`]) { %>, <% } %><% } %><% } %>
  </p>
</div>
<br /><br />
<div class="reviews-form-section">
  <h2>Reviews</h2>
  <% if (user) { %>
  <form
    id="add-review-form"
    method="POST"
    action="/food/meal/<%= item.idMeal %>/reviews"
  >
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label class="review-label">Rating:</label>
    <select name="rating">
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
    <input type="submit" value="Add Review" />
  </form>
  <% } %>
</div>
<% if (item.reviews.length) { %>
<table class="user-reviews">
  <thead>
    <tr>
      <th class="review-cats">Name</th>
      <th class="review-cats">Date</th>
      <th class="review-cats">Review</th>
      <th class="review-cats">Rating</th>
    </tr>
  </thead>
  <tbody>
    <% let total = 0 %> <% item.reviews.forEach(function(r) { %> <% total +=
    r.rating %>
    <tr id="reviews-list">
      <td><%= r.userName %></td>
      <td><%= r.createdAt.toLocaleDateString() %></td>
      <td><%= r.content %></td>
      <td><%= r.rating %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h4>No Reviews Yet</h4>
<% } %> <%- include('../partials/footer') -%>
