<%- include('../partials/header') -%>
<h1><%= foodItem.meals[0].strMeal %></h1>
<ul>
  <li><%= foodItem.meals[0].strIngredient1 %></li>
  <li><%= foodItem.meals[0].strIngredient2 %></li>
  <li><%= foodItem.meals[0].strIngredient3 %></li>
  <li><%= foodItem.meals[0].strIngredient4 %></li>
  <li><%= foodItem.meals[0].strIngredient5 %></li>
  <li><%= foodItem.meals[0].strIngredient6 %></li>
  <li><%= foodItem.meals[0].strIngredient7 %></li>
  <li><%= foodItem.meals[0].strIngredient8 %></li>
  <li><%= foodItem.meals[0].strIngredient9 %></li>
  <li><%= foodItem.meals[0].strIngredient10 %></li>
  <li><%= foodItem.meals[0].strIngredient11 %></li>
  <li><%= foodItem.meals[0].strIngredient12 %></li>
  <li><%= foodItem.meals[0].strIngredient13 %></li>
  <li><%= foodItem.meals[0].strIngredient14 %></li>
  <li><%= foodItem.meals[0].strIngredient15 %></li>
  <li><%= foodItem.meals[0].strIngredient16 %></li>
  <li><%= foodItem.meals[0].strIngredient17 %></li>
  <li><%= foodItem.meals[0].strIngredient18 %></li>
  <li><%= foodItem.meals[0].strIngredient19 %></li>
  <li><%= foodItem.meals[0].strIngredient20 %></li>
</ul>

<%- include('../partials/footer') -%>
